@{
    ViewData["Title"] = "CRUD using the API"; }
<p></p>
<div id="services">
    <p></p>
    <div class="container">
        <p></p>
        <hr />
        <h1>Album CRUD</h1>
        <div class="row">
            <div class="col-md-2, col-lg-2">
                <h3>Add a Album</h3>
                <form action="javascript:void(0);" method="POST" onsubmit="addItem()">
                    <input class="form-control" type="text" id="add-artist" placeholder="Add Artist">
                    <input class="form-control" type="text" id="add-track" placeholder="Add Track">
                    <input class="form-control" type="text" id="add-genre" placeholder="Add Genre">
                    <input type="submit" value="Add">
                </form>
                <h3>Edit a Album</h3>
                <form class="my-form">
                    <input type="hidden" id="edit-id">
                    <input class="form-control" type="text" id="edit-artist">
                    <input class="form-control" type="text" id="edit-track">
                    <input class="form-control" type="text" id="edit-genre">
                    <input type="submit" value="Save">
                </form>
            </div>
            <div class="col-md-2, col-lg-2">
                <p id="counter"> </p>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Artist</th>
                        <th>Track</th>
                        <th>Genre</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody id="allAlbums"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {


    <script src="~/js/AlbumAPIjav.js"></script>

}